<h1> A new Post </h1> 
<%= form_tag "/blogs" do %>
  <label>Author:</label><br/>
  <%= text_field_tag(:author) %><br/>
    <label>Title:</label><br/>
  <%= text_field_tag(:title) %><br/>
    <label>Content:</label><br/>
  <%= text_area_tag(:content, "", size: "24x6") %><br/>
  <%= submit_tag("create") %>
<% end %>
